body{
    background-image: url(fundo-moedas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.botaocotacao {
    width: 100%;
    height: 40px;
    background: black;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}


.container {
    /* z-index: -1; */
    background-color: rgba(98, 97, 97, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: grid;
    /* place-items: center; */
}

.container img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}

.container .moedas{
    font-size: 10px;
}

label{
    font-size: 18px;
    color: white;
}

select{
    font-size: 20px;
}

option{
    font-size: 20px;
}

h1 {
    font-size: 35px;
    height: 40px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.videodolar h2{
    color: white;
    margin-top: 20px;
    margin-left: 145px;
    text-align: left;
}

.videodolar .videoeuro {
    position: absolute;
	left: 37%;
	top: 410px
}

.videoeuro h2 {
    color: white;
    margin-top: 70px;
    margin-left: 160px;
    text-align: left;
}

.videodolar .videobitcoin {
    position: absolute;
	left: 136%;
	top: 1px
}

.duvidas{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

section details summary{
    background-color: rgb(61, 60, 59);
    padding: 20px;
    border-bottom: 2px solid;
    color: white;
    font-weight: 600;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

section details p{
    background-color: whitesmoke;
    padding: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-weight: 600;
}